{% extends "pages/master.html" %}
{% block content %}
{% load lan_info %}
{% lan_info %}
{% for post in posts.object_list %}
<h3>{{ post.title }} </h3>
<h4>Written by {{ post.author }}</h4>
<h5>{{ post.created }}</h5>
<p>{{ post.body|safe }}</p>
<div class="postlink"><a href="{% url pages.views.post post.pk %}#disqus_thread">Comments</a></div>
{% if not forloop.last %}<hr />{% endif %}
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
