{% extends "pages/master.html" %}
{% block header %}
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6005742740875';
fb_param.value = '0.00';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = (location.protocol=='http:'?'http':'https')+'://connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6005742740875&amp;value=0" /></noscript>
{% endblock %}
{% block content %}
<h1>Payment</h1>
<p>You will be sent a confirmation email once your payment has been processed.</p>
<p>If you have purchased multiple tickets, links to activate those tickets will be included in the email.</p>
<form action="{% url 'events_payment' %}" method="POST">
  {% csrf_token %}
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key={{ data_key }}
    data-image="/square-image.png"
    data-allow-remember-me="false"
    data-email="{{user.email}}"
    data-name="Big Shot Gaming"
    data-description="{{quantity}} LAN ticket(s) (${{price}} ea.)"
    data-amount="{{total_amount}}">
  </script>
</form>
{% endblock %}
