{% extends "pages/master.html" %}
{% block content %}
{% if event.is_active %}
	{% if not participant.coupon %}
		<h1>Event Registration</h1>
		<p>We no longer allow payment-at-the-door. You can pay via PayPal without having an account - just click "Buy Now" and choose the "Don't have a PayPal account?" option.</p>
		<form action="." method="post">
		{% csrf_token %}
        {{ form.as_p }}
		<input type="submit" value="Submit" />
		</form>
	{% else %}
		<h1>Participant paid</h1>
		<p>You've already paid for this event.</p>
	{% endif %}
{% else %}
	<h1>Event closed</h1>
	<p>Sorry, this event's registration is currently closed.</p>
{% endif %}
{% endblock %}