{% extends "pages/master.html" %}
{% block content %}
{% if event.is_active %}
    {% if event.registration_enabled %}
		{% if not participant.coupon %}
			<h1>Event Registration</h1>
			<p>We no longer allow payment-at-the-door.</p>
			{% if event.waiver %}
               <p><a href={{ event.waiver.url }} target="_blank">Event Waiver</a></p>
            {% endif %}
			<form action="." method="post">
			{% csrf_token %}
	        {{ form.as_p }}
			<input type="submit" value="Submit" />
			</form>
		{% else %}
			<h1>Participant paid</h1>
			<p>Thanks for registering!</p>
			{% if coupons %}
            <h2>Coupons Redeemed/Unredeemed</h2>
            <p>Send the unredeemed coupon links to your friends to get them registered!</p>
            <ul>
            {% for coupon in coupons %}
            {% if coupon.participant %}
                <li>{{coupon.participant.user}} - REDEEMED </li>
            {% else %}
                <li><a href='http://www.bigshotgaming.com{% url 'events_activate' event.id coupon.uuid %}'>{{coupon.uuid}} - UNREDEEMED</a></li>
            {% endif %}
            {% endfor %}
            </ul>
            {% endif %}
		{% endif %}
	{% else %}
		<h1>Event registration closed</h1>
		<p>Sorry, registration for this event is currently closed.</p>
	{% endif %}
{% else %}
	<h1>Event inactive</h1>
	<p>Sorry, this event is currently inactive.</p>
{% endif %}
{% endblock %}