Django==1.2.3
PIL==1.1.7
South==0.7.2
-e git://github.com/agiliq/Dinette.git@38cda8a6c29fa110c1ae91801ce0fc33c1d0ff27#egg=dinette-1.1-py2.6-dev
distribute==0.6.14
django-compressor==0.5.3
django-markupfield==1.0.0a2
django-pagination==1.0.7
-e git://github.com/agiliq/django-google-analytics.git@210167d90e8fb1066b335683880fa77b2c3e0047#egg=google_analytics-0.1-py2.6-dev
sorl-thumbnail==3.2.5
wsgiref==0.1.2
