Django==1.5.2
Pillow-PIL
South < 2.0
amqp==1.0.13
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.32
celery==3.0.22
distribute==0.6.14
django-celery==3.0.21
django-celery-email==1.0.3
django-celery-with-redis==3.0
-e git://github.com/dcramer/django-paypal.git@11835ce17e855200fc4b523c659f34f1d472b5d6#egg=django_paypal-dev
django-registration==1.0
gunicorn==0.12.0
kombu==2.5.13
-e git+http://github.com/bigshotgaming/pychallonge@d95cfdb57eaa5875dd32d69231bf99e21459659e#egg=pychallonge-dev
python-dateutil==1.5
pytz==2013b
raven==3.4.1
redis==2.7.6
reportlab==2.7
setproctitle==1.1.7
wsgiref==0.1.2
