{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}
<div class="blockform">
	<h1><span>{% trans "Register" %}</span></h1>
	<div class="box">
		<form method="post">
		    {% csrf_token %}
			<div class="inform">
				{{ form.non_field_errors.as_ul }}
				<fieldset>
					<legend>{% blocktrans %}Please enter a username{% endblocktrans %}</legend>
					<div class="infldset">
						{{ form.username.errors }}
						<label><strong>{{ form.username.label }}</strong><br />{{ form.username }}<br /></label>
					</div>
				</fieldset>
			</div>
			<div class="inform">
				<fieldset>
					<legend>{% trans "Please enter and confirm your chosen password" %}</legend>
					<div class="infldset">
						{{ form.password1.errors }}
						{{ form.password2.errors }}
						<label class="conl"><strong>{{ form.password1.label }}</strong><br />{{ form.password1 }}<br /></label>
						<label class="conl"><strong>{{ form.password2.label }}</strong><br />{{ form.password2 }}<br /></label>
						<p class="clearb">{% blocktrans %}Passwords are case sensitive.{% endblocktrans %}</p>
					</div>
				</fieldset>
			</div>
			<div class="inform">
				<fieldset>
					<legend>{% trans "Enter a valid e-mail address" %}</legend>
					<div class="infldset">
					{{ form.email.errors }}
					<label><strong>{{ form.email.label }}</strong><br />
						{{ form.email }}<br /></label>
					</div>
				</fieldset>
				<div class="inform">
				    <fieldset>
				        <legend>Captcha</legend>
				        <div class="infldset">
    				        {{ form.captcha.errors }}
    				        {{ form.captcha }}
    				    </div>
				    </fieldset>
				</div>
			</div>
            <p><input type="submit" value="{% trans "Register" %}" /></p>
		</form>
	</div>
</div>
{% endblock %}