<form name="edit-seat" id="edit-seat">
x:<input name="x-edit" size=4 value="{{ seat.x }}" /> y:<input name="y-edit" size=4 value="{{ seat.y }}" /> <br />
status:
<select name="status-edit">
{% for sta, st in statuses %}
<option value="{{ sta }}"{% if seat.status == sta %} selected="selected"{% endif %}>{{ st }}</option>
{% endfor %}
</select><br />
participant:
<select name="part-edit">
<option value="">None</option>
{% for part in parts %}
<option value="{{ part.pk }}"{% if seat.participant == part %} selected="selected"{% endif %}>{{ part.user.username }}</option>
{% endfor %}
</select>
</form>