{% extends "pages/master.html" %}
{% block content %}
	{% if event %}
		<h1>{{ event.name }}</h1>
		<h2>Carpools</h2>
		{% for state, car_list in state_list}
		<p><h3><ul>{{ state }}</ul></h3>
		<ul>
			{% for car in car_list %}
				<li><a href= "{% url pooling.views.car car.pk %}">{{ car }} - {{ car.spots }} spots</</li>
			{% empty %}
				<li>Nobody has offered to carpool yet.</li>
			{% endfor %}
		</ul></p>
	{% else %}
		<h2>No events are active at this time.</h2>
	{% endif %}
{% endblock %}