<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bsg.css" title="default" media="Screen" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/vader/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    {% block header %}
    {% endblock %}
    <title>Big Shot Gaming{% block title %}{% endblock %}</title>
</head>
<body>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'bigshotgaming'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    <div id="header">
        <h1><a href="{% url pages_index %}" title="Home">Big Shot Gaming</a></h1>
        <div id="login">
            {% if not user.is_authenticated %}
            <form method="post" action="{% url auth_login %}">{% csrf_token %}
                <ul>
                    <li>Username</li>
                    <li><input id="username" type="text" name="username" /></li>
                    <li>Password</li>
                    <li><input type="password" id="password" name="password" /></li>
                    <li><input type="submit" value="Login" /></li>
                    <li class="login_help"><a href="{% url auth_password_reset %}" title="">Forgot your password?</a></li>
                    <li class="login_help"><a href="{% url registration_register %}" title="">Create an account</a></li>	
                </ul>
            </form>
            {% else %}
            <h5>Signed in as {{ user.username }}<h5>
            <a href="{% url auth_logout %}?next={{ request.path }}">Sign Out</a>
            {% endif %}
            <!-- end login -->				
        </div>
        <!-- end header -->
    </div>
    <div id="wrapper">
        <div id="container">
            <div id="side-a">
                <h3>Main Menu</h3>
                <ul>
                    <li><a href="{% url pages_index %}" title="Home Page Link">Home</a></li>
                    <li><a href="/about/" title="About Us Page Link">About Us</a></li>
                    <li><a href="/volunteer" title="Volunteer Page Link">Volunteer</a></li>
                    <li><a href="/sponsors/" title="Sponsors Page Link">Sponsors</a></li>
                    <li><a href="/reviews/" title="Reviews Page Link">Reviews</a></li>
                    <li><a href="/contact/" title="Contact Us Page Link">Contact Us</a></li>
                    <li><a href="/friends/" title="Friends Page Link">Friends</a></li>
                    <li><a href="/links/" title="Links Page Link">Links</a></li>
                    <li><a href="/events/" title="Events Page Link">Events</a></li>
                    <li><a href="http://picasaweb.google.com/102092103548058171317" title="Image Gallery Page Link">Image Gallery</a></li>
					{% if user.is_staff %}
						<li><a href="/admin/" title="Administration Page Link">Administration</a></li>
					{% endif %}
                </ul>
            </div>
            <div id="content">
                {% load lan_info %}
                {% lan_info %}  
                {% block content %}
                {% endblock %}
            </div>
            <div id="side-b">
                <div id="social_media">
    				<a href="http://facebook.com/bigshotgaming" alt="Facebook Link"><img src="{{ STATIC_URL }}images/facebook.png" alt="Facebook" /></a>
    				<a href="http://twitter.com/bigshotgaming" alt="Twitter Link"><img src="{{ STATIC_URL }}images/twitter.png" alt="Twitter" /></a>
    			</div>
                <div id="side-b-ads">
					{% load featured_banner %}
					{% get_featured_banner %}
                </div>
            </div>
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
