<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/bsg.css" title="default" media="Screen" />
    <title>Big Shot Gaming</title>
</head>
<body>
    <div id="header">
        <h1><a href="{% url pages_index %}" title="Home">Big Shot Gaming</a></h1>
        <div id="login">
            <ul>
                <li>Username</li>
                <li><input id="username" type="text" value="Username" /></li>
                <li>Password</li>
                <li><input type="password" id="password" /></li>
                <li><input type="checkbox" id="remember" />Remember Me</li>
                <li class="login_help"><a href="" title="">Forgot your password?</a></li>
                <li class="login_help"><a href="" title="">Forgot your username?</a></li>
                <li class="login_help"><a href="" title="">Create an account</a></li>	
            </ul>	
            <!-- end login -->				
        </div>
        <!-- end header -->
    </div>
    <div id="wrapper">
        <div id="container">
            <div id="side-a">
                <h3>Main Menu</h3>
                <ul>
                    <li><a href="" title="Home Page Link">Home</a></li>
                    <li><a href="{% url djangobb:index %}" title="Forum Page Link">Forum</a></li>
                    <li><a href="" title="Sponsors Page Link">Sponsors</a></li>
                    <li><a href="" title="Reviews Page Link">Reviews</a></li>
                    <li><a href="" title="Contact Us Page Link">Contact Us</a></li>
                    <li><a href="" title="Friends Page Link">Friends</a></li>
                    <li><a href="" title="Links Page Link">Links</a></li>
                    <li><a href="" title="Events Page Link">Events</a></li>
                    <li><a href="" title="Seats Page Link">Seats</a></li>
                    <li><a href="" title="Lan Info Page Link">Lan Info</a></li>
                    <li><a href="" title="Image Gallery Page Link">Image Gallery</a></li>
                </ul>
                {% load online %}
                {% online_users %}
            </div>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <div id="side-b">

                <img src="{{ MEDIA_URL}}images/danger_den_small.jpg" alt="Danger Den" />
                <img src="{{ MEDIA_URL}}images/hiper_small.jpg" alt="Hiper" />
                <img src="{{ MEDIA_URL}}images/geeks.jpg" alt="Hiper" />
            </div>
            <div id="footer">
                {% load banner %}
                {% getbanner %}
            </div>
        </div>
    </div>
</body>
</html>