{% extends "pages/master.html" %}
{% block header %}
<style type="text/css">
.schedule_table td, .schedule_table th {
    width: 176px;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}
th, td, table {
    border-collapse: collapse;
    border: 1px solid #fff;
}
tbody tr:nth-child(odd) {
   background-color: #555;
}
.schedule_table th{
    background-color: #888;
}
</style>
{% endblock %}
{% block content %}
<h1>{{event.name}}</h1>
<h2>Schedule</h2>
{% for day in schedule %}
    <h3>{{ day.date }}</h3>
    <table class="schedule_table">
    {% for item in day %}
        <tr><th>{{item.name}}</th><td>{{item.start_time}}</td><td>{{item.end_time}}</td></tr>
    {% endfor %}
    </table>
{% endfor %}
{% endblock %}